{% extends 'base.html.twig' %}

{% block title %}MondelezSubs index{% endblock %}

{% block main %}
    <h1>MondelezSubs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subs_id</th>
                <th>Subs_name</th>
                <th>Subs_country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mondelez_sub in mondelez_subs %}
            <tr>
                <td>{{ mondelez_sub.id }}</td>
                <td>{{ mondelez_sub.subsId }}</td>
                <td>{{ mondelez_sub.subsName }}</td>
                <td>{{ mondelez_sub.subsCountry }}</td>
                <td>
                    <a href="{{ path('mondelez_subs_show', {'id': mondelez_sub.id}) }}">show</a>
                    <a href="{{ path('mondelez_subs_edit', {'id': mondelez_sub.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mondelez_subs_new') }}">Create new</a>
{% endblock %}
