{% extends 'base.html.twig' %}

{% block title %}L'entreprise derrière Pépito{% endblock %}

{% block body %}
<h1>Nom d'entreprise-mère : </h1>
<h3>{{Mondelez_name}}</h3>

<h1>Pays du siège : </h1>
<h3>{{Mondelez_country}}</h3>

<h1>Date de création :</h1>
<h3>{{Mondelez_creation|date("d/m/Y")}}</h3>

<h1>Filiales dans les paradis fiscaux d'après l'UE :</h1>
<ul>
        {% for Mondelez_sub in Mondelez_subs %}
        
            {% if Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'American Samoa' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Anguilla' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Dominica' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Fiji' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Guam' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Palau' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Panama' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Samoa' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Seychelles'
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Trinidad and Tobago'
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'US Virgin Islands'
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Vanuatu' %}
                <li>Nom : {{ Mondelez_sub.statement.properties.subsidiary.name }} -- Pays : {{Mondelez_sub.statement.properties.subsidiary.jurisdiction}}</li>
            {% endif %}
        {% endfor %}
</ul>

<h1>Filiales dans les paradis fiscaux d'après Oxfam :</h1>
<ul>
        {% for Mondelez_sub in Mondelez_subs %}
        
            {% if Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Bermuda' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Cayman Islands' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Netherlands' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Swiss' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Singapour' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Irland' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Luxemburg' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Curaçao' 
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Hong Kong'
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Cyprus'
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Bahamas'
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Jersey'
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Barbados'
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'Mauritius'
            or Mondelez_sub.statement.properties.subsidiary.jurisdiction == 'British Virgin Islands'
            %}
                <li>Nom : {{ Mondelez_sub.statement.properties.subsidiary.name }} -- Pays : {{Mondelez_sub.statement.properties.subsidiary.jurisdiction}}</li>
            {% endif %}
        {% endfor %}
</ul>


<h1>Nombre total de filiales : </h1>    
<h3>{{Mondelez_subs_count}}</h3>


{% endblock %}
